$color-background = hsl(280, 50%, 10%);
$color-foreground = white;
$color-accent = yellow;
$color-signal-error = #f00000;
$color-signal-success = #00f000;

@import 'base';
@import 'step';
@import 'answer';
