$theme-hue = 280;
$theme-saturation = 50%;

$color-main-1 =  hsl($theme-hue, $theme-saturation, 10%);
$color-main-2 =  hsl($theme-hue, $theme-saturation + 5%, 40%);

$color-background = $color-main-1;
$color-foreground = white;

$color-background--inverted = desaturate(invert($color-background), 90%);
$color-foreground--inverted = desaturate(invert($color-foreground), 90%);

$color-accent = #eddc96;
$color-signal-error = #ff867b;
$color-signal-success = #a3ffa0;

@import 'base';
@import 'step';
@import 'answer';
