html {
  height: 100%;
}

body {
  background: $color-background;
  color: $color-foreground;
  font-family: monospace;
  text-align: center;
  margin: 0;
  padding: 1em;
  line-height: 1.5;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

main {
  // padding: 40vh 0;
  padding-bottom: 6em;
}

ul {
  padding-left: 0;

  &:not([class]) {
    li {
      display: flex;
      text-align: left;

      &::before {
        content: "- ";
        margin-right: 0.5em;
      }
    }
  }
}

input,
button {
  border: solid 2px;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  height: 3em;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}

input {
  text-align: left;
  border-color: transparent transparent currentColor;
  text-transform: none;

  &:focus {
    outline: none;
    background-color: rgba($color-foreground, 0.1);
  }

  &::placeholder {
    color: rgba($color-foreground, 0.3);
  }
}

button {
  min-width: 5.8em;
  border-color: currentColor;
  font-weight: bold;
  padding: 0 1em;

  &:active {
    outline: none;
    background-color: rgba($color-foreground, 0.1);
  }
}

img {
  max-width: 100%;
}

quote {
  font-style: italic;
  background: rgba($color-foreground, 0.1);

  &::before,
  &::after {
    content: '"';
  }

  // &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: -2px;
  //   border-bottom: 1px solid rgba($color-foreground, 0.3);
  // }
}
