html {
  height: 100%;
}

body {
  background: hsl(280, 50%, 10%);
  color: white;
  font-family: monospace;
  text-align: center;
  margin: 0;
  padding: 1em;
  line-height: 1.5;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

main {
  padding: 40vh 0;
}


ul {
  padding-left: 0;
}

ul:not([class]) li {
  display: flex;
  text-align: left;
  margin-top: 0.5em;
}

ul:not([class]) li:before {
  content: "—";
  margin-right: 0.5em;
}

input,
button {
  border: solid 2px;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  height: 3em;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
}

input {
  text-align: left;
  border-color: transparent transparent currentColor;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

button {
  min-width: 5em;
  border-color: currentColor;
  font-weight: bold;
  padding: 0 1em;
}

quote {
  font-style: italic;
  position: relative;
  text-transform: uppercase;
}

quote::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
