// .step {
//   min-height: 100vh;
// }

// .step + .step {
//   margin-top: 70vh;
// }

// .step--current ~ .step {
//   display: none;
// }

.step {
  display: none;
  position: relative;
  margin: 50vh 0;

  &__header {
    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 3em;
      vertical-align: middle;
      background: rgba(255, 255, 255, 0.3);
      margin: 0 0.5em;
    }
  }

  &__clue {
    position: relative;
  }

  &__confirmation {
    margin-top: 3em;
    display: none;
    border-top: 1px solid transparent;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 11em;
      height: 1px;
      margin: 0 auto 3em;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  button {
    margin-top: 1.5em;
  }

  &--current,
  &--confirmed {
    display: block;
  }

  &--confirmed &__toggle-answer-dialog {
    display: none;
  }

  &--confirmed &__confirmation,
  &--mute &__confirmation {
    display: block;
  }

  &--done &__go-to-next {
    display: none;
  }

  &::before {
    content: "idle";
    position: absolute;
    left: 0;
    top: 0;
    color: $color-accent;
  }

  &--current::before { content: "current" }
  &--confirmed::before { content: "confirmed" }
  &--done::before { content: "done" }
}
